.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

body, h1, button {
  margin: 0;
  padding: 0;
}

button {
    background: transparent;
    border: 0;
}

.slider_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.home-link {
    margin-bottom: 10px;
}
.home-link > a {
    text-decoration: none;
    color: #000;
}
